{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "printWidth": 70,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true
}
